.webtoon_list {
  width: 1400px;
  margin: 0 auto;
  padding: 0 26px;
}

.btns {
  width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 120px;
}

.btns button {
  width: 100px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.btns button:hover {
  background-color: #111;
  color: #fff;
}

.webtoon_list {
  margin-top: 50px;
}

.webtoon_list ul {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.webtoon_list ul li .thumbnail {
  width: 300px;
  height: 160px;
  background-color: brown;
}

.webtoon_list ul li h5 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.webtoon_list ul li p {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  color: #72797f;
}

.webtoon_list ul li p:last-child {
  margin-bottom: 30px;
}
